- @srvinfos.each_with_index do |srvinfo, index|
  %div.span9{id: "chart#{index}" , style:"position:relative"}

:javascript
  var width = $("#chart1").width();
    
  var chart_context = cubism.context()
    .serverDelay(0)
    .clientDelay(0)
    .step(1e3)
    .size(width);

  // On mousemove, reposition the chart values to match the rule.
  chart_context.on("focus", function(i) {
    d3.selectAll(".value").style("right", i == null ? null : chart_context.size() - i + "px");
    data=d3.selectAll(".value");
    for (var i=0;i<data.length;i++){
      //console.log("data:"+i+"="+data[i].innerHTML);
    }
  });    

  chart_context.on("change", function(start,stop){
  })


  $(window).load(function(){

    #{
      # monitor_helper.rb
    }
    #{draw(@srvinfos , 'chart_context')}

    //chart("xubuntu",["#chart1","#chart2"],chart_context);
    //chart("xubuntu",["#chart3","#chart4"],chart_context);
  });