%h1 TEST

%hr

%div.span9#chart{style:"position:relative"}
%div.span9#chart1{style:"position:relative"}

:javascript
  $(window).load(function(){
    chart("localhost","#chart");
    chart("localhost","#chart1");
  });